{{#if visible}}
  <th
    {{did-insert (action "registerTh")}}
    {{will-destroy (action "unregisterTh")}}
    role={{if sortable "button"}}
    class="{{class}} {{theme.theadCell}} {{if sortable theme.sorting.columnSortable}} {{if isSorted theme.sorting.columnSorted}} {{if isAscSorted theme.sorting.columnSortedAsc}} {{if isDescSorted theme.sorting.columnSortedDesc}}"
    onclick={{if sortable (action onClick this)}}
    style={{columnStyle}}
    ...attributes>
    {{yield (hash
      isSorted=isSorted
      isAscSorted=isAscSorted
      isDescSorted=isDescSorted
    )}}
    {{#if resizable}}
      <div
        {{did-insert (action "initHammer")}}
        {{will-destroy (action "teardownHammer")}}
        class="{{theme.columnResizeGrip}} {{if isResizing theme.columnResizeGripIsResizing}}"
        style="cursor: col-resize; position: absolute; right: 0; top: 0; bottom: 0; width: 5px; background-color: red;"
      ></div>
    {{/if}}
  </th>
{{/if}}