{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.section "Introduction" style="large"}}

    <li class="mt-8"></li>

    {{nav.item "Quickstart" "docs.quickstart"}}
    {{nav.item "Why Yeti Table?" "docs.why-yeti-table"}}

    {{nav.section "Guides" style="large"}}

    <li class="mt-8"></li>

    {{nav.item "General" "docs.general"}}
    {{nav.item "Sorting" "docs.sorting"}}
    {{nav.item "Filtering" "docs.filtering"}}
    {{nav.item "Pagination" "docs.pagination"}}
    {{nav.item "Async data" "docs.async"}}
    {{nav.item "Legacy usage" "docs.legacy-usage"}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}