{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.item "Introduction" "docs.index"}}
    {{nav.item "General" "docs.general"}}
    {{nav.item "Ordering" "docs.ordering"}}
    {{nav.item "Searching" "docs.searching"}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}